<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список опросов</title>
</head>
<body>
  <h1>Доступные опросы</h1>
  
  <div>
    <a href="{{ url_for('general_stats') }}">Общая статистика</a> | 
    <a href="https://t.me/zubarev1v" target="_blank">Telegram автора</a>
  </div>
  
  <hr>
  
  <form method="get">
    <label>Название:
      <input type="text" name="nazvanie" value="{{ request.args.get('nazvanie', '')|e }}">
    </label>
    <button type="submit">Поиск</button>
  </form>
  
  <hr>

  <ul>
    {% for survey in surveys %}
      <li>
        <a href="{{ url_for('start', id_opros=survey.id_opros) }}">
          {{ survey.nazvanie|e }}
        </a><br>
        <small>{{ survey.opisanie|e }}</small><br>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
